<footer class="container-fluid bg-dark-blue">
    <div class="row text-white text-center">
        <div class="col-md-4 col-sm-12 p-4">
            <h3 class="">LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4 col-sm-12 p-4">
            <h3 class="">AROUND THE WEB</h3>
            <div class="icons">
                <i class="fa-brands fa-facebook mx-1 icon"></i>
                <i class="fa-brands fa-twitter mx-1 icon"></i>
                <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                <i class="fa-solid fa-globe mx-1 icon"></i>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 p-4">
            <h3 class="">ABOUT FREELANCER</h3>
            <p>Freelance is a free-to-use, licensed Bootstrap theme created by Route</p>
        </div>
        <div class="col-12 p-4 bg-navy">
            <p class="text-center">Copyright © Your Website 2023</p>
        </div>
    </div>
</footer>