<div class="about bg-main w-100 container-fluid px-5  d-flex justify-content-center align-items-center">
    <div class="row h-25 text-center text-white ">
        <div class=" col-12">
            <h1>ABOUT COMPONENT</h1>
        </div>
        <div class=" col-12 d-flex justify-content-center">
            <app-star class="white-star py-3"></app-star>
        </div>
        <div class=" col-md-6 text-white">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

        </div>
        <div class="col-md-6 text-white">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

        </div>
    </div>
</div>