<main class="p-5 contact d-flex align-items-end justify-content-center">
    <div class="  container-fluid d-flex justify-content-center align-items-center">
        <div class=" row text-center">
            <div class=" col-12">
                <h1>CONTACT COMPONENT</h1>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <app-star class="black-star"></app-star>
            </div>
            <form class="row justify-content-center gap-4">
                <div class="col-8">
                    <input type="text" class="form-control border border-0 border-bottom" id="name"
                        placeholder="Your Name" required>
                </div>
                <div class="col-8">
                    <input type="number" class="form-control border border-0 border-bottom" id="age"
                        placeholder="Your Age" required>
                </div>
                <div class="col-8">
                    <input type="email" class="form-control border border-0 border-bottom" id="email"
                        placeholder="Your Email" required>
                </div>
                <div class="col-8">
                    <textarea class="form-control border border-0 border-bottom" id="message" rows="5"
                        placeholder="Your Message" required></textarea>
                </div>
                <div class="col-8">
                    <button type="submit" class="btn btn-secondary bg-main">send Message</button>
                </div>
            </form>

        </div>
    </div>
</main>